{% extends "base.html" %}
{% block title %}User Login{% endblock %}
{% load static %}
{% block scripts %}
<script type="text/javascript" src="{% static 'js/login.js' %}"></script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col s6 offset-s3">
        <nav>
            <div class="nav-wrapper teal lighten-2">
                <div class="col s12" style="padding-left:10px">
                    <a href="/" class="breadcrumb">Home</a>
                    <a href="/users/login" class="breadcrumb">Login</a>
                </div>
            </div>
        </nav>
        <form id="myform" action="" method="post">
            {%csrf_token%}
            <div class="input-field col s12">
                <input id="email" name="email" type="email" class="validate" required>
                <label for="email">Email</label>
            </div>
            <div class="input-field col s12">
                <input type="password" name="password" id="password" required/>
                <label for="password">Password</label>
            </div>
            <input type="hidden" name="next" value="{{ next }}"/>
            <div class="input-field col s12">
                <button type="submit" id="submit_button" class="waves-effect waves-light btn teal">Login
                </button>
                <a href="{% url 'users:password_reset' %}"
                   class="waves-effect waves-light btn teal">forgot password?</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}