{% load static %}
{% block content %}

<ul class="tabs tabs-fixed-width teal lighten-2">
    <li class="tab col s3"><a href="#login_pop" class="active">Login</a></li>
    <li class="tab col s3"><a href="#signup_pop">Signup</a></li>
</ul>

<div id="login_pop" class="col s12">
    <form id="login" action="{% url 'users:login' %}" method="post">
        {%csrf_token%}
        <div class="input-field col s12">
            <input id="login_email" name="email" type="email" class="validate" required>
            <label for="login_email">Email</label>
        </div>
        <div class="input-field col s12">
            <input type="password" name="password" id="login_password" required/>
            <label for="login_password">Password</label>
        </div>
        <div class="input-field col s12">
            <button type="submit" id="login_submit" class="waves-effect waves-light btn">Login
            </button>
            <a href="{% url 'users:password_reset' %}"
               class="waves-effect waves-light btn right">forgot password?</a>
        </div>
    </form>
</div>

<div id="signup_pop" class="col s12">
    <form id="signup" action="{% url 'users:signup' %}" method="post">
        {%csrf_token%}
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="first_name" name="first_name" type="text" class="validate">
                <label for="first_name">First name</label>
            </div>
            <div class="input-field col s6">
                <input id="last_name" name="last_name" type="text" class="validate">
                <label for="last_name">Last name</label>
            </div>
        </div>
        <!--<div class="row">-->
            <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <input id="signup_email" name="email" type="email" class="validate" required>
                <label for="signup_email">Email *</label>
            </div>
        <!--</div>-->
        <!--<div class="row">-->
            <div class="input-field col s12">
                <i class="material-icons prefix">phone</i>
                <input id="signup_phone" name="phone" type="number" class="validate">
                <label for="signup_phone">Phone</label>
            </div>
        <!--</div>-->
        <!--<div class="row">-->
            <div class="input-field col s12">
                <i class="material-icons prefix">keyboard</i>
                <input type="password" name="password" id="signup_password" required/>

                <label for="signup_password">Password *</label>
                <i class="right material-icons" id="remove_red_eye">remove_red_eye</i>
            </div>
        <!--</div>-->
        <div class="input-field col s12">
            <button type="submit" id="signup_submit" class="waves-effect waves-light btn">Signup
            </button>
        </div>
    </form>
</div>
{% endblock %}