{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% load static %}
{% load materializecss %}
{% block scripts %}{% endblock %}
{% block content %}
<div class="container">
    <nav>
        <div class="nav-wrapper teal lighten-2">
            <div class="col s12" style="padding-left:10px">
                <a href="{% url 'users:organization' %}" class="breadcrumb">Organization</a>
            </div>
        </div>
    </nav>
    {% if not org_req or org_req.is_rejected %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s8 offset-s2">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">business</i>
                        <input type="text" id="autocomplete-input" class="autocomplete">
                        <label for="autocomplete-input">Find your Organization</label>
                    </div>
                </div>
            </div>
            <div class="input-field col s8 offset-s2 center">
                <button type="submit" value="Submit" class="waves-effect waves-light btn teal">Set Organization</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col s8 offset-s2 center">
            <span><h4 class="red-text text-lighten-3"><u>Did not find your organization?</u></h4></span>
            <p> The onboarding process of an organization might take a few initial steps as the admin for the
                organization
                has to be configured. Once done the admin can board all the others in that particular organization
                and
                over see
                the operations. Our onboarding expert will call you to request you an appointment and visit you
                personally once you fill out the below
                form.</p>
        </div>
    </div>
    <form action="" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="input-field col s8 offset-s2">
                <i class="material-icons prefix">phone</i>
                <input id="icon_telephone" type="tel" class="validate">
                <label for="icon_telephone">Telephone</label>
            </div>
            <div class="input-field col s8 offset-s2">
                <i class="material-icons prefix">mode_edit</i>
                <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                <label for="icon_prefix2">Your address</label>
            </div>
            <div class="input-field col s8 offset-s2 center">
                <button type="submit" value="Submit" class="waves-effect waves-light btn red lighten-2">Request
                    Onboarding
                </button>
            </div>
        </div>
    </form>
    {% else %}

    <div class="section">

        <div class="input-field col s12 center">

            <i class="material-icons medium lime-text text-darken-2">business</i>
            <h2 class="lime-text text-darken-2">{{org_req.org.name}}</h2>
            {% if org_req.is_pending %}
            <p class="new lime darken-4 badge white-text container" data-badge-caption="">Your request is pending.</p>
            {% endif %}

            <h5 class="grey-text text-lighten-2">{{org_req.org.website}}</h5>
            <a class="waves-effect waves-light btn lime darken-2" href="{% url 'organizations:view' org_req.org.id %}">VIEW
                ORGANIZATION</a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}