{% extends "base.html" %}
{% load static %}
{% block scripts %}
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'lib/materialize.min.css' %}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
  <script type="text/javascript" src="{% static 'js/forgot_password.js' %}"></script>
{% endblock %}

{% block title %}Reset Password{% endblock %}

{% block content %}

<div class="row">
  <div class="col s6 offset-s3">
    <h4 class="center">Forgot password</h4>
    <form id='myform' action="{%url 'users:password_reset' %}" method="post">
      <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
      </div>
      <div class="input-field col s12">
        {{ form.email.errors }}
        <label for="id_email">Email</label> {{ form.email }}
        <p>Please specify your email address to receive instructions for resetting it.</p>
        <button type="submit" class="waves-effect waves-light btn-large green accent-4" id="submit_button">Reset
          password
        </button>

      </div>
    </form>
  </div>
</div>
{% endblock %}