{% extends "base.html" %}
{% load static %}
{% block scripts %}
<script type="text/javascript" src="{% static 'js/forgot_password.js' %}"></script>
{% endblock %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="container">
    <nav>
        <div class="nav-wrapper teal lighten-2">
            <div class="col s12" style="padding-left:10px">
                <a href="/" class="breadcrumb">Home</a>
                <a href="/users/login" class="breadcrumb">Login</a>
                <a href="/users/forgot/password" class="breadcrumb">Forgot Password</a>
            </div>
        </div>
    </nav>
    <form id='myform' action="{%url 'users:password_reset' %}" method="post">
        <div class="row">
            <div class="input-field col s12 m8 offset-m2">
                {%csrf_token%}
                {{ form.email.errors }}
                {{ form.email.label_tag }}
                {{ form.email }}
                <p>Please specify your email address to receive instructions for resetting it.</p>
                <button type="submit" class="waves-effect waves-light btn" id="submit_button">Reset
                    password
                </button>

            </div>
        </div>
    </form>
</div>
{% endblock %}