{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% load static %}
{% load materializecss %}
{% block scripts %}
<script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container">
    <nav>
        <div class="nav-wrapper teal lighten-2">
            <div class="col s12" style="padding-left:10px">
                <a href="{% url 'users:password_change' %}" class="breadcrumb">Change Password</a>
            </div>
        </div>
    </nav>
    <form id="password_change" action="{% url 'users:password_change' %}" method="post">
        {%csrf_token%}
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <div class="input-field">
                    <input type="password" name="old_password" id="old_password" required/>
                    <label for="old_password">Old Password</label>
                </div>
                <div class="input-field">
                    <input type="password" name="new_password1" id="new_password1" required/>
                    <label for="new_password1">New Password</label>
                </div>
                <div class="input-field">
                    <input type="password" name="new_password2" id="new_password2" required/>
                    <label for="new_password2">New Password again</label>
                </div>
                <div class="input-field">
                    <button type="submit" id="password_reset_submit" class="waves-effect waves-light btn teal">RESET
                        PASSWORD
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}