{% extends "base.html" %}
{% block title %}Setting New password{% endblock %}
{% load static %}
{% block scripts %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col s6 offset-s3">
        <blockquote>
            <h3>Reset Password</h3>
        </blockquote>
        {% if validlink %}
        <form action="" method="post">
            <p>Please enter your new password twice. So we can verify you typed it in correctly.</p>
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            <div class="input-field col s12">
                {{ form.new_password1.errors }}
                <label for="id_new_password1">New password:</label>
                {{ form.new_password1 }}

            </div>

            <div class="input-field col s12">
                <label for="id_new_password2">Confirm password:</label>
                {{ form.new_password2 }}
                <button type="submit" class="waves-effect waves-light btn teal">Change my password
                </button>
            </div>
        </form>
        {% else %}
        <h3>Password reset unsuccessful</h3>
        <p>The password reset link was invalid, <br/>
            possibly because it has already been used. <br/>
            Please request a new password reset.</p>
        {% endif %}
    </div>
</div>
{% endblock %}