{% extends "base.html" %}
{% block title %}Setting New password{% endblock %}
{% load static %}
{% block scripts %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col s6 offset-s3">
        <nav>
            <div class="nav-wrapper teal lighten-2">
                <div class="col s12" style="padding-left:10px">
                    <a href="/" class="breadcrumb">Home</a>
                    <a href="/users/login" class="breadcrumb">Login</a>
                    <a href="/users/forgot/password" class="breadcrumb">Forgot Password</a>
                    <a href="#" class="breadcrumb">Reset Password</a>
                </div>
            </div>
        </nav>
        {% if validlink %}
        <form action="" method="post">
            <p>Please enter your new password twice. So we can verify you typed it in correctly.</p>
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            <div class="input-field col s12">
                {{ form.new_password1.errors }}
                <label for="id_new_password1">New password:</label>
                {{ form.new_password1 }}

            </div>

            <div class="input-field col s12">
                <label for="id_new_password2">Confirm password:</label>
                {{ form.new_password2 }}
                <button type="submit" class="waves-effect waves-light btn">Change my password
                </button>
            </div>
        </form>
        {% else %}
        <h3>Password reset unsuccessful</h3>
        <p>The password reset link was invalid, <br/>
            possibly because it has already been used. <br/>
            Please request a new password reset.</p>
        {% endif %}
    </div>
</div>
{% endblock %}