{% extends "base.html" %}
{% block title %}Quotes{% endblock %}
{% load static %}
{% load materializecss %}
{% block scripts %}
<script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container">
<div class="col s12">
    <ul class="tabs teal lighten-2">
        <li class="tab col s3"><a href="#account">Account Settings</a></li>
        <li class="tab col s3"><a href="#auth">Auth Settings</a></li>
    </ul>
</div>
<div id="account" class="col s12">
<form action="" method="post">
    {% csrf_token %}
    {{ form|materializecss }}
        <button type="submit" value="Submit" class="waves-effect waves-light btn teal">Save Changes</button>
</form>
</div>
<div id="auth" class="col s12">
    {% if request.user.is_authenticated %}
    <form id="password_change" action="{% url 'users:password_change' %}" method="post">
        {%csrf_token%}
        <div class="input-field col s12">
            <input type="password" name="old_password" id="old_password" required/>
            <label for="old_password">Old Password</label>
        </div>
        <div class="input-field col s12">
            <input type="password" name="new_password1" id="new_password1" required/>
            <label for="new_password1">New Password</label>
        </div>
        <div class="input-field col s12">
            <input type="password" name="new_password2" id="new_password2" required/>
            <label for="new_password2">New Password again</label>
        </div>
        <button type="submit" id="password_reset_submit" class="waves-effect waves-light btn teal">RESET PASSWORD
        </button>
    </form>
    {% endif %}
</div>
    </div>
{% endblock %}