{% extends "base.html" %}
{% block title %}Clients{% endblock %}
{% load static %}
{% block scripts %}{% endblock %}

{% block content %}
<div class="container">
    <blockquote>
        <h3>Browse Clients:</h3>
    </blockquote>
    <div class="row">
        {% for client in clients %}
        <div class="col s6 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">{{client.name}}</span>
                    <p>{{client.website}}</p>
                </div>
                <div class="card-action">
                    <a href="#">View Tenders</a>
                    <a href="#">View Quotes</a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Sorry!</span>
                    <p>No clients Available</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}