{% extends "base.html" %}
{% block title %}Clients{% endblock %}
{% load materializecss %}
{% load static %}
{% block scripts %}{% endblock %}

{% block content %}
<div class="container">
    <blockquote>
        <h3>Create clients</h3>
    </blockquote>
    <form action="" method="post">
        {% csrf_token %}
        {{ form|materializecss }}
        <button type="submit" id="create_tender_submit" class="waves-effect waves-light btn">CREATE CLIENT
        </button>
    </form>
</div>
{% endblock %}