{% extends "logistika/landing2.html" %}
{% block title %}Quotes{% endblock %}
{% load static %}
{% block scripts %}
<script type="text/javascript" src="{% static 'js/quotes.js' %}"></script>
{% endblock %}
{% block tabs %}
<div class="col s12">
<ul class="tabs">
    <li class="tab col s3"><a href="#list_quotes">Quotes</a></li>
    {% if request.user.is_authenticated %}
    <li class="tab col s3"><a href="#create_quotes">Create a Quote</a></li>
    {% else %}
    <li class="tab col s3"><a href="#create_quotes" onclick="$('#login_signup_popup').modal('open')">Create a Quote</a></li>
    {% endif %}
    <li class="tab col s3"><a href="#compare_quotes">Compare Quotes</a></li>
</ul>
</div>
<div id="list_quotes" class="col s12">
    <table>
        <thead>
          <tr>
              <th data-field="id">Name</th>
              <th data-field="title">Item Name</th>
              <th data-field="category">Item Price</th>
          </tr>
        </thead>

        <tbody>
        {% for item in quotes%}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{item.title}}</td>
            <td>$0.87</td>
          </tr>
        {% empty %}
          <tr>
            <td> </td>
            <td> </td>
            <td> </td>
          </tr>
        {%endfor%}
        </tbody>
      </table>

     <ul class="pagination right">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul>
</div>
<div id="create_quotes" class="col s12">
    {% if request.user.is_authenticated %}
    <form id="myform" action="{% url 'quotes:create' %}" method="post">
        {%csrf_token%}
        <div class="input-field col s12">
            <input id="quote_title" name="title" type="text" class="validate" required>
            <label for="quote_title">Title</label>
        </div>
        <button type="submit" id="create_quote_submit" class="waves-effect waves-light btn">CREATE QUOTE
        </button>
    </form>
    {% endif %}
</div>
<div id="compare_quotes" class="col s12">

    <div class="row">
        {%for i in "xxx" %}

        <div class="col s12 m4">
            <div class="card-panel teal">
                <nav>
                    <div class="nav-wrapper">
                        <form>
                            <div class="input-field">
                                <input id="search" type="search" required>
                                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                <i class="material-icons">close</i>
                            </div>
                        </form>
                    </div>
                </nav>
                <span class="white-text">I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
          </span>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{% endblock %}