{% extends "base.html" %}
{% block title %}Tenders{% endblock %}
{% load materializecss %}
{% load static %}
{% block scripts %}{% endblock %}

{% block content %}
<div class="container">
    <nav>
        <div class="nav-wrapper amber lighten-2">
            <div class="col s12" style="padding-left:10px">
                <a href="/tenders" class="breadcrumb">Browse Tenders</a>
                <a href="/tenders/create" class="breadcrumb">Create Tenders</a>
            </div>
        </div>
    </nav>
    <form action="" method="post">
        <div class="row">
            <div class="col s12 m8 offset-m2">
                {% csrf_token %}
                {{ form|materializecss }}
                <div class="input-field center">
                    <button type="submit" id="create_tender_submit"
                            class="waves-effect waves-light btn amber lighten-2">
                        CREATE TENDER
                    </button>
                </div>

            </div>
        </div>

    </form>
</div>
{% endblock %}