{% extends "base.html" %}
{% block title %}Tenders{% endblock %}
{% load static %}
{% block scripts %}{% endblock %}

{% block content %}
<div class="container">
    <blockquote>
        <h3>Browse Tenders:</h3>
    </blockquote>
    <div class="row">
        {% for tender in tenders %}
        <div class="col s6 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">{{tender.title}}</span>
                    <p>{{tender.description}}</p>
                </div>
                <div class="card-action">
                    <a href="#">View details</a>
                    <a href="/quotes/create/?tender={{tender.id}}">Submit a quote</a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Sorry!</span>
                    <p>No Tenders Available</p>
                </div>
                <div class="card-action">
                    <a href="create">Create a Tender</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}