<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Logistika | {% block title %}{% endblock %}</title>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {% load static %}
  {% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'lib/materialize.min.css' %}">
  {% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<ul id="dropdown1" class="dropdown-content">
  <li><a href="/corporate_bookings/api/logout/">Logout</a></li>
</ul>
<nav class="teal lighten-2">
  <div class="nav-wrapper">
    <a href="" class="brand-logo">
      <img class="treebo-logo" src="{% static 'images/logo-white.svg' %}" alt="Treebo">
    </a>
    {% if request.user.is_authenticated %}
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{{request.user}}<i
        class="material-icons right">arrow_drop_down</i></a></li>

    </ul>
    {%endif%}
  </div>
</nav>
{% block content %}{% endblock %}

<script type="text/javascript" src="{% static 'lib/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/moment.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/materialize.min.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'lib/vue.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static 'lib/vue-multiselect.min.js' %}"></script>-->
{% block scripts %}{% endblock %}
</body>
</html>