<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Logistika | {% block title %}{% endblock %}</title>
    {% load static %}
    {% block styles %}
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'lib/materialize.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div class="navbar-fixed">
    <nav class="teal lighten-2">
        <div class="nav-wrapper">
            <a href="#" id="hamburger-menu-button" data-activates="hamburger-menu" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
            <a href="/" class="brand-logo center">Logistika</a>
        </div>
    </nav>
</div>
<ul id="hamburger-menu" class="side-nav">
    <li>
        <div class="userView">
            <div class="background">
                <img src="images/office.jpg">
            </div>
            <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
            <a href="#!name"><span class="white-text name">John Doe</span></a>
            <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
        </div>
    </li>
    <li><a href="#!"><i class="material-icons">cloud</i>Account Settings</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>



 <div id="login_signup_popup" class="modal">
    <div class="modal-content">
        {% include "users/login_signup_popup.html" %}
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>

{% block content %}{% endblock %}
<script type="text/javascript" src="{% static 'lib/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/moment.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/materialize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/base.js' %}"></script>
{% block scripts %}{% endblock %}

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <h5 class="white-text">HAVE A QUERY?</h5>
                <a class="waves-effect waves-light btn" href="#modal1">Contact Us</a>
                <br><br>
                <a class="waves-effect waves-light btn" href="#modal2">Request a callback</a>
            </div>
            <div class="col l4 s12">
                <h5 class="white-text">WHY LOGISTIKA</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">What we do</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Terms and Conditions</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Rating</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Our Promise!</a></li>
                </ul>
            </div>
            <div class="col l4 s12">
                <h5 class="white-text">ABOUT US</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Team</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Careers</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="center">
                © 2017 Logistika. All rights reserved.
                <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
            </div>
        </div>
    </div>
</footer>

</body>
</html>