{% extends "base.html" %}
{% block title %}Clients{% endblock %}
{% load static %}
{% block scripts %}{% endblock %}

{% block content %}
<div class="container">
    <nav>
        <div class="nav-wrapper teal lighten-2">
            <div class="col s12" style="padding-left:10px">
                <a href="/notifications" class="breadcrumb">Notifications</a>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="input-field col s3">
            <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked"/>
            <label for="filled-in-box">Show only unread</label>
        </div>
        <div class="input-field col s4 right">
            <a class="waves-effect waves-light btn-flat right teal-text"><i class="material-icons left">clear_all</i>Mark
                all as read</a>
        </div>
    </div>
    {% for notif in notifs %}
    <div class="card-panel white">
        <span class="teal-text text-darken-2">
            <a href="{{notif.get_referred_obj.get_view_url}}">{{notif.type|title}}</a> {{notif.get_message}}<span class="new grey badge" data-badge-caption="">{{notif.created_at}}</span></span>
    </div>
    {% endfor %}
</div>
{% endblock %}